<section class="contacts">
  <div class="contacts__content container">
    <h2 class="visually-hidden">Контакти</h2>
    <div class="mimino-container">
      <p class="logo contacts__logo">Mimiho</p>
      <h3 class="contacts__title">Ресторанно-отельный комплекс</h3>
      <address class="mimino-address">
        <ul class="mimino-address__list list">
          <li class="mimino-address__item">
            <p class="mimino-address__title rest-title">Ресторан</p>
            <a href="tel:+380955559533" class="mimino-address__link link">
              <svg class="mimino-address__icon" width="24" height="24">
                <use href="./images/icon.svg#icon-phone"></use>
              </svg>
              +79108730014</a
            >
          </li>

          <li class="mimino-address__item">
            <p class="mimino-address__title hotel-title">Готель</p>
            <div class="tel-container">
              <a href="tel:+380668491089" class="mimino-address__link link">
                <svg class="mimino-address__icon" width="24" height="24">
                  <use href="./images/icon.svg#icon-phone"></use></svg
                ></a
              >
              <a href="tel:+79108730014" class="mimino-address__link link">
                +79108730014</a
              >
            </div>
          </li>

          <li class="mimino-address__item">
            <p class="mimino-address__title visually-hidden">Адреса</p>
            <a
              class="mimino-address__link mimino-address__link--address link"
              href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="mimino-address__icon" width="24" height="24">
                <use href="./images/icon.svg#icon-point"></use>
              </svg>
              Большая Покровская улица, 1/1<br />
             </a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2776.818713234707!2d44.001332877433015!3d56.325735073301615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d448c18c9f5b%3A0xcb8da8efc064ef93!2z0JHQvtC70YzRiNCw0Y8g0J_QvtC60YDQvtCy0YHQutCw0Y8g0YPQuy4sIDEsINCd0LjQttC90LjQuSDQndC-0LLQs9C-0YDQvtC0LCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRltGPLCA2MDMwMDU!5e1!3m2!1suk!2sua!4v1703092572727!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
