<section class="restaurant-menu" id="menu">
    <div class="container">
        <h2 class="restaurant-menu__header">Меню ресторану</h2>
        <div class="restaurant-menu__container">
            <div class="restaurant-menu__container--left">
                <!-- Гарячі страви -->
                <table class="dishes">
                    <caption class="dishes__type">Горячие блюда</caption>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Борщ из телятины с фасолью</h3>
                            <p class="dishes__ingredients">Телятина, картофель, капуста, морковь, лук, фасоль, чеснок,
                              помидоры, зелень, сметана</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">240 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Суп творожный с курицей</h3>
                            <p class="dishes__ingredients">Курятина, картофель, морковь, лук, шампиньоны, сыр мягкий,
                              зелень</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">200 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Паста карбонара</h3>
                            <p class="dishes__ingredients">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                            </p>
                        </td>
                        <td>
                            <p class="dishes__weight">350 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">430 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Стейк из свинины</h3>
                            <p class="dishes__ingredients">Свиная вырезка, специи, подается с соусом сладкий чили и
                              овощами
                            </p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">500 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding">
                            <h3 class="dishes__name">Горбуша в соусе из белого вина</h3>
                            <p class="dishes__ingredients">Нежная горбуша, сливочный соус на основе белого вина</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">400 гр</p>
                        </td>
                    </tr>
                </table>
                <!-- Гарніри та закуски -->
                <table class="dishes appetizers">
                    <caption class="dishes__type">Гарниры и закуски</caption>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Запеченные овощи</h3>
                            <p class="dishes__ingredients">Кабачок, перец, помидор, баклажан</p>
                        </td>
                        <td>
                            <p class="dishes__weight">200 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">230 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Картофель фри</h3>
                            <p class="dishes__ingredients">Картофель, соус томатный</p>
                        </td>
                        <td>
                            <p class="dishes__weight">150 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Картофель по-деревенски</h3>
                            <p class="dishes__ingredients">Картофель, специи, соус пикантный</p>
                        </td>
                        <td>
                            <p class="dishes__weight">150 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Хрустящие соленья из бочки</h3>
                            <p class="dishes__ingredients">Огурец соленый, помидор квашеный, квашеная капуста, морковь
                              по-корейски</p>
                        </td>
                        <td>
                            <p class="dishes__weight">250 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">350 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding">
                            <h3 class="dishes__name">Крылышки куриные в медовом соусе</h3>
                            <p class="dishes__ingredients">Крылышки куриные, горчично-медовый соус, подается с морковью,
                              сельдереем и
                              соусом блючиз</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">420 грн</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <!-- Салати -->
                <table class="dishes salads">
                    <caption class="dishes__type">Салаты</caption>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Цезарь с курицей</h3>
                            <p class="dishes__ingredients">Куриное филе, листья салата, помидоры черри, сыр пармезан,
                              гренки, соус
                              цезарь</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">450 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Цезарь с креветками</h3>
                            <p class="dishes__ingredients">Тигровые креветки, листья салата, помидоры черри, сыр пармезан,
                              гренки,
                              соус Цезарь</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Греческий салат</h3>
                            <p class="dishes__ingredients">Свежие огурец, помидор, болгарский перец, оливки, сыр
                              брынза, листья
                              салата, соус</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">280 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding">
                            <h3 class="dishes__name">Мясной салат</h3>
                            <p class="dishes__ingredients">Куриное филе или свиная вырезка, свежие огурец, помидор,
                              болгарский
                              перец, соус ранчо</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 гр</p>
                        </td>
                    </tr>
                </table>
                <!-- Десерти -->
                <table class="dishes desserts">
                    <caption class="dishes__type">Десерты</caption>
                    <tr>
                        <td class="dishes__desc desserts__desc">
                            <h3 class="dishes__name desserts__name">Торт наполеон</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc desserts__desc">
                            <h3 class="dishes__name desserts__name">Торт маковый</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding desserts__desc">
                            <h3 class="dishes__name desserts__name">Тирамису</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">120 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">260 грн</p>
                        </td>
                    </tr>
                </table>
                <!-- Напої -->
                <table class="dishes drinks">
                    <caption class="dishes__type">Напитки</caption>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Чай черный / зеленый</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">500 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">100 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Эспрессо</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">30 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">100 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Американо</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">150 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">100 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Капучино</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">200 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 гр</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding drinks__desc">
                            <h3 class="dishes__name drinks__name">Лате</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">200 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 гр</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <button type="button" class="book-table btn dark-btn" >Забронировать столик</button>
    </div>
</section>
